/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
img {
  width: 300px;
  height: 300px;
  cursor:pointer;
}
a {
  text-decoration: none;
}
ul,ol,
menu {
  list-style: none;
}
body {
  font-family:monospace;
  background: rgba(218, 125, 54, 1.0);
  background: linear-gradient(270deg, rgba(218, 125, 54, 1.0), rgba(229, 196, 117, 1.0));
 
}